body {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #888da8 !important;
  background-color: #edf2f6 !important;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
  margin: auto;
}

.success {
  text-align: center;
  color: green;
  font-weight: bold;
  margin: auto;
}

.webform-confirmation {
  padding-bottom: 0;
}

.webform-confirmation .success-container {
  border: 1px solid #e6ecf5;
  border-radius: 3px;
  padding: 10px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.webform-confirmation .success-container img {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.webform-confirmation .success-container .success-copy {
  display: flex;
  align-items: center;
}

.webform-confirmation .success-container .success-copy p {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  color: #515365;
}

.about .more-dropdown {
  width: 100px;
  top: calc(100% + 10px);
  right: -25px;
}

.capitalize {
  text-transform: capitalize;
}

.add-friend {
  color: #fff !important;
  cursor: pointer;
  margin-bottom: 0;
  background-color: #38a9ff;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 1.1rem 1.1rem;
  font-size: 0.812rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.pointer {
  cursor: pointer !important;
}

.more-friend-button {
  padding: 10px 20px;
  top: calc(100% + 10px);
  white-space: nowrap;
  width: initial;
  min-width: 100%;
}

.more-top {
  top: auto;
  bottom: 100%;
  left: 0;
  right: initial;
}

.back-to-top {
  position: fixed;
  z-index: 19;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  fill: #fff;
  stroke: inherit;
  transition: all 0.3s ease;
  bottom: 10px;
  right: 85px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(63, 66, 87, 0.4);
  border-radius: 100%;
  background-color: #ff5e3a;
  text-align: center;
}

.back-to-top .back-icon {
  height: 20px;
  width: 20px;
}

@media (max-width: 768px) {
  .back-to-top {
    right: 17px;
  }
}

.not-found {
  margin: auto;
  padding: 70px 0;
  color: #9a9fbf;
  font-size: 16px;
  text-align: center;
}

.outline {
  outline: none !important;
}

.career-remove {
  position: absolute;
  right: 0;
  top: 17px;
  cursor: pointer;
  color: #a9abad;
  font-size: 13px;
}

.career-remove:hover {
  color: #ff5e3a;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.anchor {
  cursor: pointer;
  transition: color 0.2s linear;
}

.anchor:hover {
  color: #1e70bf;
}

.underline {
  text-decoration: underline;
}

.border-red {
  border-color: rgb(197, 77, 77) !important;
}

.chat-input {
  min-height: 35px;
  height: 35px;
  padding: 10px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  background-color: #7c5ac2;
  cursor: all-scroll;
}

.chat-header h6 {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
}

.chat-header h6 a {
  color: #fff;
}

.chat-header .icon-status {
  margin-bottom: 1px;
}

.chat-message-block {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.close-block {
  padding: 0 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-block .olymp-little-delete {
  fill: #fff;
}

.no-messages {
  text-align: center;
  padding-bottom: 90px;
}
